<!DOCTYPE html>
<html class="no-js" lang="pt">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">  	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>ECO Feedback - Login</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/demo.css" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css" type="text/css">
</head>
    <body class="fade-in">
    	
    	<div class="container" id="login-block">
    		<div class="row">
			    <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">		    	 
			       <div class="login-box clearfix animated flipInY">
			       		<div class="page-icon animated bounceInDown">
			       			<img src="img/user-icon.png" alt="Key icon">
			       		</div>
			        	<div class="login-logo">
			        		<img src="img/logo.png" alt="Company Logo"></a>
			        	</div> 
			        	<hr>
			        	<div class="login-form">
			        		<!-- Inicio Caixa de Erro -->
			        		<div class="alert alert-danger hide">
								  <button type="button" class="close" data-dismiss="alert"> ×</button>
								  <h4>Erro!</h4>
								   Erro!
							</div> <!-- Fim Caixa de Erro -->
			        		<form action="dashboard.html" method="get">
						   		 <input placeholder="usuário" class="input-field" required="" type="text"> 
						   		 <input placeholder="senha" class="input-field" required="" type="password"> 
						   		 <button type="submit" class="btn btn-login">Entrar</button> 
							</form>								
			        	</div> 			        	
			       </div>	     
			        
			    </div>
			</div>
    	</div>
     
      	<!-- Fim da caixa de login -->
     	<footer class="container">
     		<p id="footer-text"><small>Copyright © 2015 <a href="index.html">Eco Feedback</a></small></p>
     	</footer>

        <script src="js/jquery.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script> 
        <script src="js/bootstrap.js"></script> 
        <script src="js/placeholder-shim.js"></script>        

    

</body></html>